<!-- Footer -->
<footer class="page-footer font-small bg-gray-light pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <ul class="list-unstyled ">
          <li>
            <a class="footer-router-link mb-1" href="#!">About</a>
          </li>
          <li>
            <a class="footer-router-link mb-1 " href="#!">Blog</a>
          </li>
          <li>
            <a class="footer-router-link mb-1" href="#!">News</a>
          </li>
          <li>
            <a class="footer-router-link mb-1" href="#!">Contract</a>
          </li>
          <li>
            <a class="footer-router-link mb-1" href="#!">Careers</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <ul class="list-unstyled footer-router-link mb-1">
          <li>
            <a class="footer-router-link mb-1" href="#!">Campaign Summer 2020</a>
          </li>
          <li>
            <a class="footer-router-link mb-1" href="#!">privacy policy</a>
          </li>
          <li>
            <a class="footer-router-link mb-1" href="#!">Cookie policy</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3">
        <ul class="list-unstyled footer-router-link mb-1">
          <li class="footer-router-link">
            Europe
          </li>
          <li>
            Falkenstratess 27,8-06, 8008zurish,switzerland </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3">
        <ul class="list-unstyled footer-router-link">
          <li class="footer-router-link">
            Asia
          </li>
          <li>
            VijayNagra,1-3232,Indore Mp,India </li>
        </ul>

      </div>



      <hr class="clearfix w-100 d-md-none">

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->