<app-top-nav></app-top-nav>
<div class="w-100 h-100">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center mt-5 mb-2 ">
                    <h1><span class="icon-text"> BUYOGO</span></h1>

                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-4"></div>
                <div class="col-md-4 pl-0">
                    <h5 class=" text-center font-weight-bold" style="
                    color: dimgray;
                ">{{ 'convertBusiness' | translate:locale.language }} </h5>
                </div>

            </div>
            <div class="row pt-5">
                <div class="col-md-3"></div>
                <div class="col-md-7 text-center">
                    {{'buyOgoCaption' | translate:locale.language}}

                </div>
            </div>
        </div>
        <div class="col-md-4  mt-5 pt-5">

            <!-- <div class="col-md-4"></div> -->
            <img src="./../assets/images/dc1.png" class="col-md-9 ml-3 pr-2" alt="Buyogo">


        </div>
    </div>

    <div class="row h-100 mt-0 pt-0">
        <div class="col-md-6 bg-primary">
            <div class="container w-75 mt-5 text-white pt-5 text-center">
                <h3>{{ 'readyToGo' | translate:locale.language }}</h3>
                <div class="pt-5">
                    {{'digitalIsA' | translate:locale.language}}
                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="col-md-6 bg-gray">
            <diV class="container w-75">
                <div class="mt-5 mb-3 font-weight-bold pl-3 pr-5 text-center">If you are keen, Register your interest by
                    signing
                    up and we will come back to you</div>
                <form>
                    <div class="col mb-1">
                        <input type="text" id="companyName" name="companyName" value=""
                            placeholder="Name of Company"><br>
                    </div>
                    <div class="col mb-1">
                        <input type="text" id="emai" name="emai" value="" placeholder="Contact Email"><br>
                    </div>
                    <div class="col mb-1">
                        <input type="text" id="contactPerson" name="contactPerson" value=""
                            placeholder="Contact person"><br>
                    </div>
                    <div class="col mb-3 mt-5">
                        <input type="submit" value="SIGN UP FOR FREE">
                    </div>


                </form>
            </diV>
        </div>
    </div>
    <div class="row h-100 pt-5 mt-5">
        <div class="container text-center">
            <h2 class="sub-heading">WHY BUYOGO?</h2>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-4 text-center"> We see the trends around us.All the industries and companies,
                    consumers and businessd
                    by the digital trends. The choice of implementing digitization is a "when" question and not an "if"
                    question anymore
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-5 text-center">Buyogo can help you digitize your B2B commerce and help you make
                    it more</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-5 text-center">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="dot"></div>
                            <div>SUSTAINABLE</div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="dot"></div>
                            <div>SUSTAINABLE</div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="dot"></div>
                            <div>SUSTAINABLE</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row h-100 p-3 mt-3 grad1">
        <div class="row w-100 m-3 p-5 text-white">
            <diV class="col-md-4 text-center">
                <h4 class="pb-5">DIGITAL COMMERCE</h4>
                <hr class="clearfix w-50 bg-white ">
                Single platform to digitize your orders, invocing and shipping activities in a single workflow with the
                ability to connect with your backend systems through API
            </diV>
            <diV class="col-md-4 text-center">
                <h4 class="pb-5">DATA AND CONVERSATIONAL AI</h4>
                <hr class="clearfix w-50 bg-white ">
                Single platform to digitize your orders, invocing and shipping activities in a single workflow with the
                ability to connect with your backend systems through API
            </diV>
            <diV class="col-md-4 text-center">
                <h4 class="pb-5">DIGITAL FINANCE</h4>
                <hr class="clearfix w-50 bg-white ">
                Single platform to digitize your orders, invocing and shipping activities in a single workflow with the
                ability to connect with your backend systems through API
            </diV>
        </div>

    </div>
    <div class="row h-100 mt-5">
        <div class="col-md-6 col-lg-5 pl-5 ml-5 h-100">
            <img src="./../assets/images/mobile.png" class="ml-3 d-inline-block align-top img-fluid mr-3 pr-2"
                alt="Buyogo">
        </div>
        <div class="col-md-6 col-lg-5 pl-5 ml-5 h-100">
            <div class="container m-5 w-75">
                <div class="row p-5 text-center ">
                    During the trying times for business
                    in a post Covid-19World, we are happy to offer a
                </div>
                <h3 class="row mt-4 ml-5  pl-5 text-primary ">
                    FREE TRAIL
                </h3>
                <div>
                    <input type="submit" value="SIGN UP FOR FREE">
                </div>
            </div>

        </div>
        <diV>

        </diV>
    </div>
    <div class="row h-100 mt-3 bg-primary text-white ">
        <h2 class="sub-heading pl-5 pr-5 m-5 text-center">We Understand businesses take time to recover and we are happy
            to be your partner in your recovery</h2>
    </div>

    <app-footer></app-footer>
</div>